.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    flex: 0 0 35%;
    max-width: 35%;
    gap: 25px;
  }
  
  .stat-box {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px -10px 0px -3px   #2c3e50;
    text-align: center;
    height: 120px; /* Fixed height to match the image */
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  
  .stat-box h3 {
    margin: 0 0 15px;
    font-size: 20px;
    color: #2c3e50;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .stat-box p {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
  }